name: sv-tests-ci

on:
  push:
  pull_request:

jobs:
  Summary:
    name: Summary
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: actions/upload-artifact@v2
        with:
          name: tests_summary
          path: |
            ./out/report/tests_summary.md

  Comment:
    if: github.event_name == 'pull_request_target'
    name: Comment
    runs-on: ubuntu-18.04
    needs: Summary
    steps:
      - name: Prepare output directories
        run: mkdir -p out/report
      - uses: actions/download-artifact@v2
        with:
          name: tests_summary
          path: ./out/report
      - id: get-comment-body
        run: |
          body=$(cat ./out/report/tests_summary.md)
          body="${body//'%'/'%25'}"
          body="${body//$'\n'/'%0A'}"
          body="${body//$'\r'/'%0D'}"
          echo ::set-output name=body::$body
      - name: Post comment
        uses: KeisukeYamashita/create-comment@v1
        with:
          check-only-first-line: "true"
          unique: "true"
          token: ${{ secrets.GITHUB_TOKEN }}
          comment: ${{ steps.get-comment-body.outputs.body }}
